HACenv/
# .vscode/
output_dir/
__pycache__/
wandb/
data/
checkpoints/
outputs/
datasets/
datasets2/
dataset_deleteme/
__pycache__/
euler_job_submission/
euleroutputs/
wpop/
sHACenv4/
cy_utils/__pycache__/
*.pyc
ftp.worldpop.org.uk/
datasets_Sat2Pop/