HACenv/
# .vscode/
output_dir/
__pycache__/
wandb/
data/
checkpoints/
outputs/
datasets/
datasets2/
dataset_deleteme/
datasets_euler_Sat2Pop/
datasets_euler_Sat2Pop_2/
datasets_euler_Sat2Pop_3ss/
datasets_euler/
datasets_Sat2Pop/
datasets_Sat2Pop_delme/
datasets_Sat2Pop_2/
datasets_Sat2Pop_3/
datasets_Sat2Pop_lessfeats/
__pycache__/
euler_job_submission/
euleroutputs/
wpop/
sHACenv4/
cy_utils/__pycache__/
*.pyc
ftp.worldpop.org.uk/